# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
*.env

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
env/
lib/
libs/
dist/
build/
egg-info/
pip-wheel-metadata/

*.log
*.log.*
output/*